@using Microsoft.AspNetCore.Mvc.TagHelpers


@model MedicalHistory


<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <input asp-for="UserId" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">

                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.UserId == null ? "Create" : "Update") Physician</h2><hr />
                </div>

                <div asp-validation-summary="All"></div>
                <br />
                <div>
                    @for (int i = 0; i < @Model.MedicalHistoryTreatments.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalHistoryTreatments.ElementAt(i).Physicians)
                                    @Html.DisplayFor(it => it.MedicalHistoryTreatments.ElementAt(i).Treatments)
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <br />
                <div>
                    @for (int i = 0; i < @Model.MedicalHistorySufferings.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalHistorySufferings.ElementAt(i).Physicians)
                                    @Html.DisplayFor(it => it.MedicalHistorySufferings.ElementAt(i).Sufferings)
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <br />
                <div>
                    @for (int i = 0; i < @Model.MedicalHistoryMedicines.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalHistoryMedicines.ElementAt(i).Physicians)
                                    @Html.DisplayFor(it => it.MedicalHistoryMedicines.ElementAt(i).Medicines)
                                </td>
                            </tr>
                        </table>
                    }
                </div>
                <br />
                <div>
                @for (int i = 0; i < @Model.MedicalNotes.Count(); i++)
                {
                    <table>
                        <tr>
                            <td>
                                @Html.DisplayFor(it => it.MedicalNotes.ElementAt(i).Note)
                                @Html.DisplayFor(it => it.MedicalNotes.ElementAt(i).NoteDate)
                                @Html.DisplayFor(it => it.MedicalNotes.ElementAt(i).Physician)
                            </td>
                        </tr>
                    </table>
                }
                </div>
                <br />
                <div>
                @for (int i = 0; i < @Model.MedicalImages.Count(); i++)
                {
                    <table>
                        <tr>
                            <td>
                                @Html.DisplayFor(it => it.MedicalImages.ElementAt(i).Id)
                                @*@Html.DisplayFor(it => it.MedicalImages.ElementAt(i).ImageUrl)*@
                            </td>
                        </tr>
                    </table>
                }
                </div>

                @if (Model.UserId == null)
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary">Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Update</button>
                }


                <a asp-area="User" asp-action="Index" asp-controller="User" class="btn btn-primary">
                    Back to Users
                </a>
            </div>
        </div>
    </div>
</form>
