@using Microsoft.AspNetCore.Mvc.TagHelpers


@model MedicalHistory

<partial name="_Notifications"></partial>


<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <input asp-for="UserId" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">

                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.UserId == null ? "Create" : "Update") Physician</h2><hr />
                </div>

                <div asp-validation-summary="All"></div>
                <br />

                <label class="form-label">Treatments</label>
                <div>
                    @for (int i = 0; i < @Model.MedicalHistoryTreatments.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalHistoryTreatments.ElementAt(i).Treatments.Name)
                                    @Html.DisplayFor(it => it.MedicalHistoryTreatments.ElementAt(i).Physicians.Name)
                                </td>
                            </tr>
                        </table>
                    }
                    <a asp-controller="Treatment" asp-action="CreateForHistory" asp-route-id="@Model.UserId" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i>
                        &nbsp; Add new treatment
                    </a>
                </div>
                <br />

                <label class="form-label">Sufferings</label>
                <div>
                    @for (int i = 0; i < @Model.MedicalHistorySufferings.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalHistorySufferings.ElementAt(i).Sufferings.Name)
                                    @Html.DisplayFor(it => it.MedicalHistorySufferings.ElementAt(i).Physicians.Name)
                                </td>
                            </tr>
                        </table>
                    }
                    <a asp-controller="Suffering" asp-action="CreateForHistory" asp-route-id="@Model.UserId" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i>
                        &nbsp; Add new suffering
                    </a>

                </div>
                <br />

                <label class="form-label">Medicines</label>
                <div>
                    @for (int i = 0; i < @Model.MedicalHistoryMedicines.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalHistoryMedicines.ElementAt(i).Medicines.Name)
                                    @Html.DisplayFor(it => it.MedicalHistoryMedicines.ElementAt(i).Physicians.Name)
                                </td>
                            </tr>
                        </table>
                    }
                    <a asp-controller="Medicine" asp-action="CreateForHistory" asp-route-id="@Model.UserId" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i>
                        &nbsp; Add new medicine
                    </a>
                </div>
                <br />

                <label class="form-label">Medical Notes</label>
                <div>
                    @for (int i = 0; i < @Model.MedicalNotes.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @Html.DisplayFor(it => it.MedicalNotes.ElementAt(i).Note)
                                    @Html.DisplayFor(it => it.MedicalNotes.ElementAt(i).NoteDate)
                                    @Html.DisplayFor(it => it.MedicalNotes.ElementAt(i).Physician)
                                </td>
                            </tr>
                        </table>
                    }

                    <a asp-controller="MedicalNote" asp-action="CreateForHistory" asp-route-id="@Model.UserId" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i>
                        &nbsp; Add new medical note
                    </a>
                </div>
                <br />

                <label class="form-label">Medical Images</label>
                <div>
                    @for (int i = 0; i < @Model.MedicalImages.Count(); i++)
                    {
                        <table>
                            <tr>
                                <td>
                                    @*@Html.DisplayFor(it => it.MedicalImages.ElementAt(i).Id)*@
                                    <div class="card" style="width: 18rem; height: 18rem;">
                                        <img src="~/@Html.DisplayFor(it => it.MedicalImages.ElementAt(i).ImageUrl)" class="card-img-top rounded" />
                                    </div>
                                    <div class="card-body">
                                        <div class="pl-1">
                                            <p class="card-title h5 text-primary">@Html.DisplayFor(it => it.MedicalImages.ElementAt(i).Description)</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }

                    <a asp-controller="MedicalImage" asp-action="CreateForHistory" asp-route-id="@Model.UserId" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i>
                        &nbsp; Add new medical image
                    </a>
                </div>

                <br />

                @if (Model.UserId == null)
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary">Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Update</button>
                }


                <a asp-area="User" asp-action="Index" asp-controller="User" class="btn btn-primary">
                    Back to Users
                </a>
            </div>
        </div>
    </div>
</form>
