@using ExpedienteMedico.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<User>

<partial name="_Notifications"></partial>

<div class="container p-3">

    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-decoration">Users</h2>
        </div>

        <div class="col-6 text-end p-1">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Add User
            </a>
        </div>

    </div>

    <br>

    <table id="tblData" class="table">
        <thead> 
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompleteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDateAttended)
            </th>
            
            @if (User.IsInRole(Roles.Role_Admin))
            {
                <th>
                    Admin Actions
                </th>
            }
            
            @if (User.IsInRole(Roles.Role_Physician))
            {
                <th>
                    Medical Actions
                </th>
            }

        </tr>
        </thead>
    </table>


</div>

@section Scripts{
    
    @if (User.IsInRole(Roles.Role_Physician))
    {
        <script src="~/js/JsMedicalUsers.js"></script>
    }
    else
    {
        <script src="~/js/JsUsers.js"></script>
    }
}
